<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
    <link rel="stylesheet" type="text/css" href="/2023ltao/css/my_style.css">
</head>
<body>
    <h1>Fun Converter Page!</h1>
    <h2> <b><%= number %></b>°F is equivalent to <b><%= tocelsius %></b>°C. </h2>
    <h2> If an American travels <b><%= number %></b> miles, an Englishman will travel <b><%= milestokm %></b> kilometers. </h2>
    <h2> In an all-out pet war, it would take <b><%= number %></b> cats to fight off <b><%= dogstocats %></b> dogs. </h2>
    <h2> If you want to hire Bob for <b><%= number %></b> hours, you'll have to pay him <b><%= tolynn %></b> dollars! </h2>
</body>
</html>