<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" href="css/my_style.css">
</head>
<body>
    <h1>Schedule </h1>
    <p> <b><%= date %></b> </p>
    <p> <b><%= block0.name %></b>: <%= block0.start %> - <%= block0.end %></p>
    <p> <b><%= block1.name %></b>: <%= block1.start %> - <%= block1.end %></p>
    <p> <b><%= block2.name %></b>: <%= block2.start %> - <%= block2.end %></p>
    <p> <b><%= block3.name %></b>: <%= block3.start %> - <%= block3.end %></p>
    <p> <b><%= block4.name %></b>: <%= block4.start %> - <%= block4.end %></p>
    <p> <b><%= block5.name %></b>: <%= block5.start %> - <%= block5.end %></p>
    <p> <b><%= block6.name %></b>: <%= block6.start %> - <%= block6.end %></p>
    
</body>
</html>